body
{
    background-color: blanchedalmond;
}

h1
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
}

.bar 
{
    background-color: rgb(252, 197, 94);
    line-height: 13px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul 
{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 211, 130);
    border-color:rgb(255, 255, 255);
    border-style:solid;
    border-width: 4px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;    
}
  
li {
    float: left;
}
  
li a 
{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover
{
    background-color: #ffffff;
}

.about
{
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(172, 200, 174);
    border-style: solid;
    width: 460px;
    height: 400px;
    margin-top: 20px;
    margin-left: 4px;
    display: flex;
    flex-direction: row;
}

img 
{
    border: 4px solid #ffffff;
    border-radius: 10px;
    margin: 30px;
    margin-bottom: 0;
}

.pic 
{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -5px;
    padding-bottom: 10px;
    height: 400px;
}

.hobbies
{   
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    width: 380px;
    padding: 20px;
    font-size: 20px;
}

/* ------------------------------------------------------------------------------------- */

.pic2
{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    padding-bottom: 10px;
    height: 400px;
    background-color: rgb(172, 200, 174);
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-style: solid;

}

.hobbies2
{   
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    width: 380px;
    padding: 20px;
    font-size: 20px;
}

/* ------------------------------------------------------------------------------------- */

.pic3
{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    padding-bottom: 10px;
    height: 400px;
    background-color: rgb(172, 200, 174);
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}

.hobbies3
{   
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    width: 380px;
    padding: 20px;
    font-size: 20px;
}