body {
    background-color: antiquewhite;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.bar {
    background-color: white;
    line-height: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 10px;
    margin-left: 5px;
    padding: 10px;
    width: 99vw;
    background-color: rgb(152, 184, 97);
    border-color: rgb(49, 48, 48);
    border-style: double;
    border-width: 10px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    line-height: 3;
    font-size: 23px;
    position: sticky;
}

.my {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    width: 550px;
    background-color: rgb(228, 245, 199);
    border-color: rgb(149, 186, 156);
    border-style: double;
    border-width: 10px;
    height: 1070px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 25px;
    text-align: left;
    line-height: 2;
    font-size: 20px;
    margin-left: 400px;
    margin-top: 10;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    margin-top: -25px;
    text-decoration: none;
}

.p {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    width: 700px;
    border-color: rgb(255, 142, 72);
    background-color: rgb(255, 182, 129);
    border-style: double;
    border-width: 10px;
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    text-align: center;
    color: azure;
    text-shadow: 1px 2px black;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 2;
    font-size: 20px;
    margin-top: 30px;
    display: block;
    margin-left: 400px;
}

.pic {
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}

li a {
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
    height: 90%;
    font-size: 30px;
}

li a:hover {
    background-color: aliceblue;
    border-radius: 20px;
}